.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1rem 0 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3rem;
}

.section {
  width: 100%;
  margin-bottom: 1.5rem;
}

.section h2 {
  margin-top: 0;
  margin-bottom: .5rem;
}

.section label {
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: .5rem;
}

.end {
  font-size: 2rem;
}