.nav {
  flex: 1;
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  margin-left: -20px;
  margin-right: -20px;
  position: sticky;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
}

.nav a {
  line-height: 1.5;
  padding: 20px;
}